@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Roboto+Mono:wght@300;400;500;700&display=swap');

:root {
    --my-green:  49, 133, 71;
    --my-blue: 97, 101, 207;
    --my-red:  219, 55, 101;
    --my-yellow:  235, 183, 73;
    --dark: #343a40;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Inconsolata', monospace;
    color: var(--dark);
}

hr {
    width: 90%;
    margin: 0px auto 20px auto;
    color: var(--dark);
}

/* I really dislike the default blue color and underline of links */
a {
    color: white;
    text-decoration: none;
}

/* Give images some flavor so it's not just a cut/paste square */
img {
    border-radius: 2px;
    padding: 2%;
    border: 8px solid var(--dark);
}

h3 {
    font-size: 1.6em;
}

/* Spacing between navbar options */
#personal-tab {
    justify-self: end;
}

#professional-tab {
    justify-self: start;
}

.nav-left {
    margin-right: 4%;
}

.nav-right {
    margin-left: 4%;
}

/* Navbar stylings */
.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1% 4%;
    background-color: var(--dark);
    position: fixed;
    top: 0;
    width: 92%; /* 8% is taken from the padding on left and right */
    border-bottom: 1px solid white;
    z-index: 1;
}

.nav-link {
    font-size: 1.4em;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

/* Top bar / intro styles */
.intro {
    width: 80%;
    margin: 10% auto 0% auto;
}

.intro h1 {
    font-size: 2.4em;
}

.intro h2 {
    text-align: right;
}

/* About section styles */
.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas:
        "header header"
        "picture about-text";
    justify-items: center;
    width: 80%;
    margin: 2% auto 2% auto;
}

#about-header {
    grid-area: header;
}

#my-pic {
    grid-area: picture;
}

#about-text {
    grid-area: about-text;
    justify-self: end;
    width: 90%;
    padding: 2%;
    border: 8px solid var(--dark);
    border-radius: 2px;
}

#first-about { /* This is for the first paragraph in the about me text */
    border-left: 3px solid var(--dark);
    padding-left: 7px;
}

/* Projects section styles */
.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:
        "header header header"
        "proj1 proj2 proj3";
    width: 80%;
    margin: 0px auto 2% auto;
    justify-items: center;
}

#projects-header {
    grid-area: header;
}

#project-1 {
    grid-area: proj1;
    background-color: rgba(var(--my-green), 0.8);
}

#project-2 {
    grid-area: proj2;
    background-color: rgba(var(--my-blue), 0.8);
}

#project-3 {
    grid-area: proj3;
    background-color: rgba(var(--my-red), 0.8);
}

/* Within Projects section, these are styles for the project cards */
.card {
    border-radius: 5px;
    color: white;
    width: 80%;
    padding: 0% 5% 3% 5%;
    transition: transform .2s; /* transition time for hover */
}

.card:hover {
    transform: scale(1.07);
}

.card-title {
    font-size: 1.5em;
    padding-bottom: 3px;
    border-bottom: 4px solid white;
}

.card-link {
    float: right;
}

/* Feedback section styles (users enter comments here) */
.feedback-wrapper {
    width: 80%;
    margin: 2% auto 2% auto;
}

#feedback-header {
    text-align: center;
}

.form-label {
    font-size: 1.6em;
}

form textarea {
    width: 70%;
    height: 300px;
    padding: 2%;
    resize: none;
    border: 2px solid var(--dark);
    border-radius: 8px;
    background-color: whitesmoke;
    margin-bottom: 2%;
}

.my-button {
    background-color: rgb(var(--my-green));
    border-radius: 12px;
    border: none;
    color: white;
    padding: 0.8% 1.7%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
}

/* Feedback section styles (comments submitted by users appear here) */
.comments-wrapper {
    width: 80%;
    margin: 2% auto 2% auto;
}

#comments-header {
    font-size: 1.7em;
}